


.logo {
letter-spacing:2px;
  font-weight: bold;
}

.logo2 {
	color: #9E9E9E;
}


.logo3 {
	color: #9E9E9E;
	opacity:0.3;
}


.header-right {
  float: right;
  
}

a {
	padding:22px;
	text-decoration: none;
    color:#FFF; 

}
.fontblack{
	color:black;
}

header {
	height: 590px;
	background-image: url(../img/apples.jpg);
	background-size: cover;
	font-family: 'latin';
	padding-top: 15px;

}

.first {
	display: block;
	text-align: center;
	padding-top: 130px;
	color: #FFF;
	
}

.amp{
	padding:15px;
	font-size:65px;
	
}

.but1 {
	border: 1px solid #FFF;
	background: rgba(0, 0, 0, .3);
	color:#FFF
}

.lorem {
	display:flex;
	padding:40px;
	margin:20px;
	text-align:left;
	font-size:18px;
}



.normal {
	font-weight: normal;
	
}

.box {
	position: relative;
	height: 300px;
	width: 700px;
    padding-right:80px;
}

.bottom-left {
	position: absolute;
	bottom: 8px;
	left: 16px;
	color:#FFF;
	padding:20px;
}

.bottom-right {
	position: absolute;
	top: 8px;
	right: 16px;

}

.bottom-right::after{
	content: "♥";
	color:#FFF;
	margin:4px;
}
.box-out {
	display: flex;
	margin: 20px;
	padding: 0 5px;
	font-family: 'cyrillic-ext';
}



.text {
	text-align: center;
	padding: 30px;
	padding-top: 70px;
	
}


/* cyrillic-ext */
@font-face {
	font-family: 'cyrillic-ext';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'cyrillic';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'greek-ext';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'greek';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'vietnamese';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'latin-ext';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'latin';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


