.flex-2-col {
  display: flex;
  align-items: center;
}

@media print{
 .gallery-container{ visibility: hidden;
}
.tm-main-nav{ visibility: hidden;
}
      }

.box-bg:hover h2 {font-weight:700;
color:#FFFFFF;
}
.box-bg:hover {background:#87cefa;} 
.submit-btn:hover {background:#87cefa;}

p:first-letter {color:#87CEFA;
font-size: 30px}

.tm-nav-item:hover{background:grey;}

.tm-main-nav, .tm-content-box {
  padding: 10px;
  box-shadow: 5px 8px 5px #888888;
}

.tm-banner-inner {outline:solid 40px 
  #F5F5F5; 
}

.flex-2-col{position: relative;}
.flex-2-col::before{
position: absolute;
top:0;
left:0;
content: "";
border-style: solid;
border-width: 25px 170px 0px 0px;
border-color: #00BFFF transparent transparent transparent;

}

.tm-section-title {
	color:gainsboro;
 letter-spacing: 5px;
}

h2+p {font-style: italic;
	}
.tm-section-description{line-height: 1.8;
text-indent: 15px;}

a:hover{
	color: blue;
	text-decoration-style: double;
	color: lightskyblue;
}
a:visited {
text-decoration: underline;
color: black;
}

.text::after {content:"New";
color: red;
 vertical-align:super;
 font-size: 9pt;
}

.box-work {padding:8px;}
.box:nth-child(even){background:#F5F5F5;}
.mandatory-field:after{
	content: "*";
    color: red;}












